<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/50ef1e1f-525b-49ad-a089-2442ee8ef76c/resourceGroups/mobile_final_project/providers/Microsoft.Web/sites/MobileFinalProjectServer</ResourceId>
    <ResourceGroup>mobile_final_project</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://mobilefinalprojectserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>mobilefinalprojectserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MobileFinalProjectServer</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MobileFinalProjectServer</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>